<!-- <form class="form-container">
  <div class="form-row">
    <div class="col-lg-6 col-md-6">
      <label for="inputEmail4">First name</label>
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-lg-6 col-md-6">
      <label for="inputEmail4">Last name</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form> -->
<!-- <div class="container">
  <div class="form-container">
    <p class="text-center">Signup works!</p>
    <form>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group mb-3">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4 mb-3">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2 mb-3">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- backup code below -->

<!-- <div class="container">

  <div class="form-container">
    <p class="text-center">Signup works!</p>
    <form>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputPassword">Phone number</label>
          <input type="text" class="form-control" id="inputPassword" placeholder="Phone Number">
        </div>
      </div>
       for pass and repass
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputEmail">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputPassword">Re-Password</label>
          <input type="password" class="form-control" id="inputRePassword" placeholder="Re-Password">
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group mb-3">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4 mb-3">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2 mb-3">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div> -->
<!-- <div class="container">
  <div class="form-container">
    <p class="text-center"><img src="storeaccountslogo.png" alt="storeAccounts Logo"></p>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputFirstName" class="label">Username</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="User name">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputLastName" class="label">Email</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputEmail" class="label">password</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="password">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputPassword" class="label">conform password</label>
          <input type="text" class="form-control" id="inputPassword" placeholder="conform password">
        </div>
      </div>


      <div class="row">

        <div class="col-md-5 mb-3 col-sm-8">

          <label for="inputCity" class="label">Captcha</label>
          <input type="text" class="form-control input-specific" id="inputCity" placeholder={{uniquecode}} disabled>


        </div>
        <div class="col-md-1 mb-3 col-sm-4" >
          <label for="inputCity"><p>&nbsp;</p></label>
          <div class="inline" (click)="genarateCaptcha()">
            <i class="fas fa-sync"></i>
            </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="inputCity"class="label">Enter Captcha code</label>
          <input type="text" class="form-control" id="enteredCaptcha" placeholder="Captcha code" [(ngModel)]="enteredCaptcha">
        </div>
      </div>



      <!-- captcha below

      <!-- Signup with Social Accounts starts
      <div class="inputitem creating">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 center">
              <p> <span class="separator separator-dotted separator-content border-dark my-10 center"></span>------------Signup With your Social Accounts------------<span class="bordered1"></span></p>
          </div>
        </div>
        </div>
        <!-- Starts
        <div class="row">

          <div class="col-md-5 mb-3 col-sm-8">

          </div>
          <div class="col-md-1 mb-3 col-sm-4" >

          </div>

          <div class="col-md-6 mb-3">
            </div>
        </div>
 Signup with Social Accounts ends





<p id="key"></p>
      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck" class="label">
            By clicking this You are <span class="blue">Terms and conditions</span>  and <span  class="blue">policies</span>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" >Sign in</button>
    </form>
  </div>
</div> -->

<div class="container">
  <div class="form-container">
    <p class="text-center"><img src="storeaccountslogo.png" alt="storeAccounts Logo"></p>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputFirstName" class="label">Username</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="User name" [(ngModel)]="username" name="username">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputLastName" class="label">Email</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Email" [(ngModel)]="email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="inputPassword" class="label">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="password" name="password">
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputConfirmPassword" class="label">Confirm Password</label>
          <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" [(ngModel)]="repassword" name="repassword">
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 mb-3 col-sm-8">
          <label for="generatedCaptcha" class="label">Captcha</label>
          <input type="text" class="form-control input-specific" id="generatedCaptcha" placeholder="{{uniquecode}}" disabled>
        </div>
        <div class="col-md-1 mb-3 col-sm-4">
          <label for="refreshCaptcha"><p>&nbsp;</p></label>
          <div class="inline" (click)="genarateCaptcha()">
            <i class="fas fa-sync"></i>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="enteredCaptcha" class="label">Enter Captcha Code</label>
          <input type="text" class="form-control" id="enteredCaptcha" placeholder="Captcha Code" [(ngModel)]="enteredCaptcha" name="enteredCaptcha">
        </div>
      </div>

      <!-- Signup with Social Accounts starts -->
      <div class="inputitem creating">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 center">
            <p><span class="separator separator-dotted separator-content border-dark my-10 center"></span>------------Signup With your Social Accounts------------<span class="bordered1"></span></p>
          </div>
        </div>
      </div>
<!-- social accounts -->
<div class="row">
  <div class="col-md-4 mb-3 col-sm-8">
    <button *ngIf="loggedIn" (click)="signInWithFB()">Login with Fb</button>
    </div>
  <div class="col-md-4 mb-3 col-sm-4">
    </div>
  <div class="col-md-4 mb-3">
    </div>
</div>


      <!-- Signup with Social Accounts ends -->

      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck" class="label">
            By clicking this You are <span class="blue">Terms and conditions</span> and <span class="blue">policies</span>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div>

<div *ngIf="loggedIn">
  <img src="{{user.photoUrl}}" alt="userimage">
<div>
  <h4>{{user.name}}</h4>
  <p>{{user.email}}</p>
</div>
</div>
